@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
	margin: 0;
	padding: 0;
}

fieldset, img {
	border: 0 none;
}

dl, ul, ol, menu, li {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}

input, select, textarea, button {
	vertical-align: middle;
}

button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer;
}

body {
	background: #fff;
}

body, th, td, input, select, textarea, button {
	font-size: 12px;
	line-height: 1.5;
	font-family: '돋움', dotum, sans-serif;
	color: #333;
}

a {
	color: #333;
	text-decoration: none;
}

address, caption, cite, code, dfn, em, var {
	font-style: normal;
	font-weight: normal;
}

.screen_out {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999px;
}

.hide {
	display: none;
}

/* 기본 start */
body {
	position: relative;
}

#componentIndex a {
	display: block;
	position: absolute;
	top: -100px;
	left: 0;
	z-index: 500;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
}

#componentIndex a:hover, #blessIndex a:focus, #blessIndex a:active {
	top: 0;
	background: #efefef;
}

#wrap {
	position: relative;
	min-height: 1080px;
}

#wrap h1 {
	background-color: #ff4d4d;
	color: #fff;
	line-height: 100px;
	font-size: 50px;
	text-align: center;
}

#wrap #contatiner {
	width: 100%;
	background-color: #1a0500;
}

#wrap #contatiner:after {
	display: block;
	content: '';
	clear: both;
}

#wrap .aside {
	float: left;
	width: 20%;
	padding: 20px 0;
}

#wrap .aside .list-menu {
	width: 80%;
	margin: 0 auto;
}

#wrap .aside li {
	margin-bottom: 15px;
}

#wrap .aside li a {
	display: block;
	font-size: 20px;
	color: #fff;
	background-color: #000;
	margin-bottom: 5px;
}

#wrap .aside li a:hover {
	color: #000;
	background-color: #fff;
}

#wrap .aside li .sub-menu {
	margin-bottom: 3px;
	padding-left: 20px;
	font-size: 13px;
	color: #fff;
}

#wrap .content {
	float: left;
	width: 80%;
}

#wrap .content .sort-component {
	background-color: #fff;
	padding: 30px;
}

#wrap .content .sort-component ol > li {
	margin-top: 30px;
}

#wrap .content .sort-component ol > li:first-child {
	margin-top: 0;
}

#wrap .content h3 {
	margin-bottom: 30px;
	padding-left: 5px;
	font-size: 30px;
	border-bottom: 1px solid #ddd;
	line-height: 40px;
}

#wrap .component {
	width: 100%;
}

#wrap .component h4 {
	margin-bottom: 20px;
	padding-left: 20px;
	font-size: 20px;
	text-align: left;
	color: #fff;
	line-height: 30px;
	background-color: #1a0500;
}

#wrap .component > div {
	min-width: 320px;
}

#wrap #footer {
	width: 100%;
	background-color: #1a0500;
}

#wrap #footer .inner-footer {
	width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
	color: #fff;
	font-size: 15px;
}

/* 기본 end */
.tab-component li .btn-tab {
	display: block;
	height: 60px;
	background-color: #fff;
	color: #000;
	border-right: 1px solid #000;
	text-align: center;
	z-index: 1000;
	font-size: 30px;
	line-height: 60px;
	box-sizing: border-box;
}

.tab-component li .btn-tab:hover {
	background-color: #000;
	color: #fff;
}

.tab-component li.active .btn-tab {
	background-color: #000;
	color: #fff;
}

.tab-component .tab-content {
	display: none;
	width: 1000px;
	height: 300px;
	border: 1px solid #000;
	border-top: 0;
	box-sizing: border-box;
	padding: 30px 10px;
}

.tab-component .tab-content.active {
	display: block;
}

.tab-component .list-content li {
	font-size: 20px;
	line-height: 30px;
}

.tab-component .list-content li:before {
	content: '-';
	float: left;
	font-size: 20px;
	margin-right: 10px;
}

/* 텝 컴포넌트1 start */
.tabComponent1 {
	height: 300px;
	padding-top: 60px;
}

.tabComponent1 .list-tab {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.tabComponent1 .list-tab .item {
	position: absolute;
}

.tabComponent1 .list-tab .item .inner-item {
	position: relative;
	height: 360px;
	width: 1000px;
}

.tabComponent1 .list-tab .btn-tab {
	position: absolute;
	top: -60px;
	width: 33.33%;
	height: 60px;
	background-color: #fff;
	color: #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	text-align: center;
	z-index: 1000;
}

.tabComponent1 .list-tab .btn-tab > span {
	font-size: 30px;
	line-height: 60px;
}

.tabComponent1 .list-tab .btn-tab:hover {
	background-color: #000;
	color: #fff;
}

.tabComponent1 .list-tab > li:nth-child(1) .btn-tab {
	border-left: 1px solid #000;
	left: 0;
}

.tabComponent1 .list-tab > li:nth-child(2) .btn-tab {
	left: 33.33%;
}

.tabComponent1 .list-tab > li:nth-child(3) .btn-tab {
	right: 0;
	width: 33.34%;
}

.tabComponent1 .list-tab > li.active .tab-content {
	display: block;
}

.tabComponent1 .list-tab > li.active .btn-tab {
	background-color: #000;
	color: #fff;
}

/* 텝 컴포넌트1 end */
/* 텝 컴포넌트2,텝 컴포넌트3 start */
.tabComponent2, .tabComponent3 {
	width: 1000px;
	margin: 0 auto;
}

.tabComponent2 .tab-head, .tabComponent3 .tab-head {
	border: 1px solid #000;
}

.tabComponent2 .tab-head ul:after, .tabComponent3 .tab-head ul:after {
	display: block;
	content: '';
	clear: both;
}

.tabComponent2 .tab-head li, .tabComponent3 .tab-head li {
	float: left;
	width: 33.33%;
}

.tabComponent2 .tab-head li:last-child, .tabComponent3 .tab-head li:last-child {
	width: 33.34%;
}

.tabComponent2 .tab-head li:last-child .btn-tab, .tabComponent3 .tab-head li:last-child .btn-tab {
	border-right: 0;
}

/* 텝 컴포넌트2,텝 컴포넌트3 end */
